// GLOBAL STYLES ----------------------------------

// COLOR SCHEMES 
$--clr-light: #ececec;
$-clr-dark: #272343;

// FONT SIZES 
$--size-1: 72px;
$--size-2: 54px;
$--size-3: 32px;
$--size-p1: 22px;
$--size-p2: 16px;

// FONT WEIGHTS 
$--fw-bold: 600px;
$--fw-bolder: 900px;

// COMPONENTS -------------------------------------

// NAVIGATION BAR
.main-nav {
    background-color: $-clr-dark;
    .second-nav {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }
    .nav-link {
        text-decoration: none;
        color: $--clr-light;
        cursor: pointer;
    }
    .nav-link:hover {
        color: yellow;
    }
}