// GLOBAL STYLES ----------------------------------

// COLOR SCHEMES 
$--clr-light: #ececec;
$-clr-dark: #272343;

// FONT SIZES 
$--size-1: 72px;
$--size-2: 54px;
$--size-3: 32px;
$--size-p1: 22px;
$--size-p2: 16px;

// FONT WEIGHTS 
$--fw-bold: 600px;
$--fw-bolder: 900px;

// COMPONENTS -------------------------------------

// NAVIGATION BAR
.main-nav {
    .nav-link {
        text-decoration: none;
        color: $--clr-light;
        cursor: pointer;
        margin: 50px;
        background: none;
        border: none;
        font-family: 'cabin';
    }
    .nav-link:hover {
        background: none;
    }
}

.brand-logo {
    width: 125px;
    width: 125px;
    border-radius: 50%;
}

// PAGES

// Homepage
.main-title {
    padding-top: 200px;
    text-align: center;
    font-size: $--size-1;
    font-family: 'recursive';
}

.main-subtitle {
    text-align: center;
    font-size: $--size-3;
    font-family: 'open-sans';
    font-size: $--size-p1;
}

// MEDIA QUERIES -----------------------------------

//Navigation Bar
@media screen and (max-width: 767px) {
    .main-nav {
        .nav-link {
            margin: 0;
        }
    }
}